.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: $backdrop-bg-color;
  transition: all 500ms linear;

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 500ms linear 500ms;

    .modal-close {
      transform: translate(-50%, -50%) scale(0);
      transition: all 500ms linear 0ms;
    }
  }
  @media screen and (min-width: 1200px) {
    z-index: 200;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 500ms linear 500ms;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.btn-close {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.modal-btn-close {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn-close:hover & {
    fiil: $accent-color;
  }
}
.modal-title {
  width: 100%;
  text-align: center;
  padding-bottom: 12px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  color: $primary-text-color;
}

.form-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-item {
  position: relative;
  margin-bottom: 10px;
}
.form-item-label {
  display: block;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  margin-bottom: 4px;
}

.form-item-input {
  display: block;
  z-index: 1;

  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:focus,
  &:hover {
    outline: none;
    border-color: $accent-color;
  }

  &:focus + .form-item-input-svg,
  &:hover + .form-item-input-svg {
    fill: $accent-color;
  }
}

.form-item-input-svg {
  position: absolute;
  z-index: 100;

  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;
}

.form-message {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;

  resize: none;

  margin-bottom: 20px;
}

.form-agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;

  margin-bottom: 30px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $description-text-color;

  & a {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgb(33, 150, 243);
    text-decoration: underline;

    margin-left: 3px;
  }
}

.form-castom-checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
  fill: rgb(255, 255, 255);
  background-color: var(--background-color);
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & svg {
    display: block;
  }
}

.form-input-check:checked ~ .form-castom-checkbox {
  background-color: $accent-color;
  border-color: $accent-color;
}

.hidden-form-checkbox {
  display: none;
}

.form-button {
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: none;

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
