*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  margin: 0;
  background-color: $primary-bg-color;
  color: $description-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.17;
}
body li {
  list-style-type: none;
}
li a {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus,
.footer-address-map:hover,
.footer-address-map:focus,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-tel:hover,
.footer-address-tel:focus {
  color: $accent-color;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
