$primary-text-color: rgb(33, 33, 33);
$secondary-text-color: rgb(255, 255, 255);
$logo-text-color: rgb(0, 0, 0);
$description-text-color: rgb(117, 117, 117);
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-icon-bg-color: rgba(255, 255, 255, 0.1);
$color-icon: rgb(175, 177, 184);
$primary-bg-color: #ffffff;
$secondary-bg-color: rgb(245, 244, 250);
$portfolio-bg-color: rgb(229, 229, 229);
$footer-bg-color: rgb(47, 48, 58);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$portfolio-card-border-color: #eeeeee;
$portfolio-img-hover-color: rgba(33, 150, 243, 0.9);
$accent-color: #2196f3;

$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh/$fs;
}
$grsdient-hero: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
